//--------------------------colors
$white_1: #fbfbfb;
$white_2: #fff;
$white_3: #f5f7f8;

$black_1: #17242f;
$gray_1: #6d7982;
$gray_2: #e6eaed;

$blue_1: #06a1aa;
$blue_2: #00337c;
$blue_3: #0c88cd;
$blue_4: #0f7b9c0a;
$green: #40A578;


$red_1: #e12727;
$yellow: #ffd234;
$green_1: #09f877;

//-------------------------------space variabels
$spc_025: 0.25rem;
$spc_05: 0.5rem;
$spc_075: 0.75rem;
$spc_1: 1rem;

$spc_1_25: 1.25rem;
$spc_1_5: 1.5rem;
$spc_1_75: 1.75rem;
$spc_2: 2rem;

$spc_2_25: 2.25rem;
$spc_2_5: 2.5rem;

//---------------------------------------------font
$font: "iransans";
