.unfind-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;

  .unfind-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin-top: 2.5rem;
    flex-wrap: wrap;

    h3 {
      color: var(--blue-3, #0c88cd);
      margin-bottom: 0.25rem;
      text-align: center;
    }

    span {
      font-size: 1rem;
      color: var(--gray-1, #6d7982);
      text-align: center;
    }

    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-block-end: 1.5rem;
      margin-block-start: 0.75rem;

      img {
        max-width: 100%;
      }
    }

    .btn-row {
      display: flex;
      align-items: center;

      a {
        width: 100%;
      }
    }
  }
}
