.search-content {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: start;

  @media (width <= 768px) {
    margin-top: 1.5rem;
    flex-direction: column;
  }

  .sidebar {
    @media (width <= 800px) {
      flex-basis: 100%;
      width: 100%;
    }
  }
  .result-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    width: 100%;

    .result-row {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      @media (width <= 768px) {
        flex-direction: column;
      }
      .search-title {
        color: $gray_1;
        font-size: 1.25rem;
        font-weight: 500;
        .search-keyword {
          color: $black_1;
          margin-right: 0.5rem;
        }
      }
    }
    .not-found-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .search-title {
      color: $gray_1;
      font-size: 1.25rem;
      font-weight: 500;
      h2 {
        color: $gray_1;
        .search-keyword {
          color: $black_1;
        }
      }

      h3 {
        color: var(--blue-2, $blue_1);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        margin-top: 0.5rem;
      }
    }
  }
}
