.single-service {
  margin-top: 3.81rem;
  padding-top: 2.88rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  background: var(--blue-4, rgba(15, 123, 156, 0.04));
  flex-wrap: wrap;
  height: 32rem;
  @media (width <= 992px) {
    justify-content: center;
    height: auto;
  }
  @media (width <= 992px) {
    margin-top: 1.5rem;
    padding-top: 0;
    flex-direction: column;
    background: none;
  }

  .single-service-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    @media (width <= 992px) {
      gap: 0.75rem;
    }

    .has-border {
      margin-bottom: 1rem;
      border-right: 2px solid #0c88cd;
      padding-right: 1rem;

      h1 {
        font-weight: 700;
        color: $blue_2;
        margin-bottom: 0.75rem;
        @media (width <= 992px) {
          font-size: 1.25rem;
          font-weight: 500;
        }
      }

      .single-excerpt-content {
        color: var(--gray-1, #6d7982);
        font-size: 1rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        white-space: pre-wrap;
      }
    }

    a {
      @media (width <= 992px) {
        width: 100%;
      }
    }
  }

  .single_service-img {
    flex: 2;
    @media (width <= 992px) {
      order: -1;
      width: 100%;
    }

    img {
      width: 100%;
      height: 33.14575rem;
      border-radius: 0 1.25rem 1.25rem 0;
      transform: translateY(1rem);
      object-fit: cover;
      @media (width <= 992px) {
        height: 100%;
        width: 100%;
        transform: unset;
        border-radius: unset;
      }
    }
  }
}

//----------------------------------------------extra-services style
.extra-services {
  margin-top: 7.5rem;
  @media (width <= 768px) {
    margin-top: 2.5rem;
  }

  .extra-services-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    @media (width <= 900px) {
      gap: 0.5rem;
      flex-direction: column;
    }

    .service-box {
      color: var(--white-1, #fbfbfb);
      flex: 1;
      padding: 1.88rem;
      border-radius: 1.25rem;
      background: rgba(#00337c, 80%);
      display: inline-flex;
      flex-direction: column;
      align-items: start;
      gap: 0.625rem;
      height: 20.125rem;
      position: relative;
      transition: all 0.3s ease-in-out;
      @media (width <= 900px) {
        max-height: 9.37rem;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
        border-radius: 1.25rem;
        object-fit: cover;
      }

      h5 {
        font-size: 1.25rem;
        font-weight: 500;
      }

      .sub-serveic-description {
        opacity: 0;
        visibility: hidden;
        font-size: 1rem;
        line-height: 1.625rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        white-space: pre-wrap;
        height: 0;
        transition: height 0.3s ease-in-out;
      }

      &.active {
        flex-basis: 25%;
        @media (width <= 900px) {
          max-height: 19.5rem;
        }

        .sub-serveic-description {
          opacity: 1;
          visibility: visible;
          height: 15rem;
        }
      }
    }
  }
}
.swiper-wrapper {
  height: auto !important;
}
//---------------------------------------------- doctor section style
.doctor-section {
  margin-top: 2.5rem;

  .doctors-team {
    .team-images {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(6, 6vw);
      grid-gap: 1rem;

      .team-img {
        width: 100%;
        display: grid;
        border-radius: 20px;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @media (max-width: 680px) {
          min-height: 20.1875rem;
          max-height: 323px;
        }
      }

      .img_1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: span 6;
        overflow: hidden;
      }

      .img_2 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row: span 3;
        overflow: hidden;
        height: 100%;
      }

      .img_3 {
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row: span 3;
        overflow: hidden;
      }

      .img_4 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row: span 3;
        overflow: hidden;
      }

      .img_5 {
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row: span 3;
        overflow: hidden;
        height: 100%;
      }

      @media (max-width: 680px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

//---------------------------------------------- video section style
.video-section {
  margin-top: 2.5rem;

  .video-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 32.75rem;
    @media (width <= 900px) {
      gap: 0.5rem;
      flex-direction: column;
      height: auto;
    }

    .main-video {
      flex: 1;
      position: relative;
      width: 100%;
      height: 100%;
      // overflow: hidden;
      @media (width <= 900px) {
        height: 20.18rem;
      }

      .video-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 32.75rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        img{
          height: 100%;
        }
      }

      #mainVideo {
        width: 100%;
        border-radius: 1.25rem;
        height: 100%;
        object-fit: cover;
      }
    }

    .video-thumbnails {
      display: flex;

      justify-content: center;
      gap: 1rem;
      flex: 1;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      @media (width <= 900px) {
        flex-direction: column;
        gap: 0.5rem;
        flex: unset;
      }

      .video-thumbnail {
        flex: 1;
        position: relative;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.4) 0%,
          rgba(0, 0, 0, 0.4) 100%
        );
        height: 100%;
        border-radius: 1.25rem;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
          width: 60px;
          height: 60px;
          background: rgba(0, 0, 0, 0.4) 0%;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          &:before {
            font-size: 1.5rem;
            color: $white_1;
          }
        }

        img {
          width: 15rem;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          overflow: hidden;
          border-radius: 1.25rem;
          object-fit: cover;
        }
      }

      .video-1 {
        flex: 1 1 35%;
        height: 13.56rem;
      }

      .video-2 {
        flex: 1 1 50%;
        height: 13.56rem;
      }

      .video-3 {
        flex: 1 1 50%;
        height: 18.18rem;
      }

      .video-4 {
        flex: 1 1 35%;
        height: 18.18rem;
      }

      .video-1,
      .video-2,
      .video-3,
      .video-4 {
        @media (width <= 900px) {
          flex: unset;
          width: 49%;
        }
      }
    }
  }
}

//---------------------------------------------- main content section style
.main-content {
  margin-top: 2.5rem;
h2{
   margin-top: 15px;
      line-height: 3.5rem;
      font-size: 28px;
              font-weight: 700;

      @media (width <= 900px) {
        line-height: 2.5rem;
        font-size: 22px;
      }
}
  .service-main-content {
    text-align: right !important;
            line-height: 1.75rem;
        font-size: 16px;
     border-radius: 1.25rem;
    background: var(--blue-2, rgba(25, 180, 229, 0.04));
    padding: 1.88rem;
  ul {
        margin-right:2%;
        list-style: disc;
      }
    h2 {
      margin-top: 15px;
      line-height: 3.5rem;
      font-size: 28px;
              font-weight: 600;

      @media (width <= 900px) {
        line-height: 2.5rem;
        font-size: 22px;
      }
    }
    p {
      @media (width <= 900px) {
        line-height: 1.75rem;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10%;
      }
    }
    h3 {
            margin-top: 15px;
        font-weight: 600;

      line-height: 2.75rem;
      font-size: 24px;
      @media (width <= 900px) {
        line-height: 2rem;
        font-size: 16px;
      }
    }

    h4 {
      line-height: 2.75rem !important;
      font-size: 20px;
    }

    h5 {
      line-height: 2.75rem !important;
      font-size: 16px;
    }

    img {
      margin: 1rem 0;
      border-radius: 1.25rem;
      width: 100%;
      max-height: 35rem;
      object-fit: cover;
      @media (width <=768px) {
        max-height: 15rem;
      }
    
    }

    div.columns {
      display: flex;
      gap: 1rem;
      width: 100%;
      flex-wrap: wrap;
      margin: 0.88rem 0;

      div {
        flex: 1;

        img {
          margin: 0;
        }
      }
    }
    blockquote {
      background-color: #d9dbdd;
      padding: 20px;
      border-right: 3px solid #09cdf8;
      margin: 20px 0;
      border-radius: 1.25rem;
    }
  }
}

//---------------------------------------------- recommended section style
.recommended-service-single {
  margin-top: 2.5rem;

  .recommended-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    @media (width <= 768px) {
      flex-direction: column;
    }

    .blog-box .image-zoom a .image-card {
      height: 22.62rem;
      @media (width <= 768px) {
        height: 19.375rem;
      }

      img {
        height: 22.62rem;

        @media (width <= 768px) {
          height: 19.375rem;
        }
      }
    }
  }
}

.single-service-page {
  .title-2 {
    > h2 {
      color: $blue_2;
    }
  }
}

.video-thumbnails .video-thumbnail {
  @media (width <= 900px) {
    height: 16rem;
  }
  @media (width <= 768px) {
    height:10rem !important;
    max-height: 10rem !important;
  }
  @media (width <= 448px) {
    width: 48% !important;
  }
}

.video-thumbnails .main-video {
  @media (width <= 768px) {
    height: 18rem !important;
    max-height: 18rem !important;
  }
}

.video-thumbnails {
  @media (width <= 900px) {
    flex-direction: row !important;
  }
}
